/* Set box-sizing property to border-box for all elements */
* {
  box-sizing: border-box;
}

/* Set some default margins and padding for the body */
body {
  margin: 0;
  padding: 0;
}

/* Style the header */
header {
  background-color: #222;
  color: #fff;
  padding: 10px;
}

.App {
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}


nav .active {
  background-color: #4CAF50;
}

.NotFound {
  text-align: center;
  font-size: 32px;
  margin-top: 100px;
}


/* Style the container element */
.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

/* Style the product list table */
table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Style the form */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

form button[type="submit"] {
  background-color: #222;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #444;
}